/*General Attributes for all Sections*/
html{
  font-size: 16px;
}

body{
  line-height: 1.2;
  font-family: "PT Sans", sans-serif;
  background-color: white;
}

.container{          /*Applies also for thesis container*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left{
  width: 60%;
  margin: 32px 24px;
}

.right{
  margin-top: 16px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@media only screen and (max-width:767px), (orientation: portrait){
  .container{
      flex-direction: column;
  }

  .left,
  .right{
    width: 100%;
    margin: 0;
    align-items: center;
  }
}

.section-title{
  margin-top: 32px;
  width: 100%;
  text-align: center;
}

img{
  width: 100%;
  height: auto;
}

nav a{
  padding-left: 16px;
}

/*Font Sizes and Colors*/
h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2.25rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1rem;
  margin: 8px 0;
}

h6{
  font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6, a, span, #word1{
  color: #444444;   /*Darker Gray*/
  text-decoration: none;
}

h1, h2, h3, h4, #word1{
  font-weight: bold;
}

#word2{
  color: #CCCCCC; /*Lighter Gray*/
  font-weight: bold;
}

.background-gray{
  background-color: lightgray;
}

/*CSS FOR THE DIFFERENT SECTIONS*/
/*Header*/
header{
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 32px;
  padding: 0 24px;
}

.logo img{
  height: 100%;
  width: auto;
}

.navDesktop{
  padding-right: 24px;
}

.navDesktop ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navDesktop a{
  color: black;
}

.navMobile{
  display: none;
}

@media only screen and (max-width:767px), (orientation: portrait){
  .navMobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .navMobile a{
    padding: 0;
  }
}

/*Banner with Start Button*/
#banner{
  justify-content: center;
  align-items: center;
}

.banner-box{
  margin: 1rem 0;
  width: 80%;
}

#banner-title{
  justify-content: center;
}

#banner-title .button{
  padding: 8px 0;
  color: white;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-title .button h5{
  width: 100%;
  text-align: center;
}

#banner-title .button h5 a{
  color: white;
  width: 100%;
}

@media only screen and (max-width:767px), (orientation: portrait){
    .banner-box{
      padding: 0 16px ;
    }

    #banner-title .button{

    }
}

/*Articles and Information*/
.info .left h2{
  margin: 24px 0;
}

.info .left h6{
  margin-top: 32px;
}

.info-box{
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-box img{
  width: 35%;
}

.info-box .text{
  width: 65%;
  margin: 0 16px;
}

.info-box a{
  color: #5555FF;
}

#lecture{
  background-color: lightgray;
}

@media only screen and (max-width:767px), (orientation: portrait){
  .info-box{
    flex-direction: column;
    width: 90%;
  }

  .info-box img{
    width: 100%;
    height: auto;
  }

  .info-box .text{
    width: 90%;
    margin: 16px 0;
  }

  #lecture{
    background-color: white;
  }
}

/*Courses*/
.coursesMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}

.courses{
  margin: 0 56px;   /* 56 + (16 from .course) = 72px horizontal margin*/
}

.row{
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 32px 0;
}

.course{
  width: 33.3%;
  margin: 0px 16px;
  background-color: white;
}

.course .description{
  margin: 16px 16px 24px 16px;
}

.courses-mobile{
  display: none;
}

@media only screen and (max-width:767px), (orientation: portrait){
  .coursesMain{
    background-color: white;
    border-top: 1px solid lightgray;
  }

  .courses-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 24px auto;
  }

  .course-mobile{
    width: 80%;
    margin: 8px auto;
    padding: 16px 0px 24px 16px;
  }
}

/*Thesis Exhibit (Same containers as Articles and Information Section)*/
.thesis video{
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

@media only screen and (max-width:767px), (orientation: portrait){
  .thesis{
    border-top: 1px solid lightgray;
  }

  .thesis h2{
    margin-bottom: 16px;
  }
}

/*Footer*/
footer{
  border-top: 1px solid lightgray;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width:768px) and (orientation: landscape){
  .mobile{
    display: none;
  }
}

@media only screen and (max-width:767px), (orientation: portrait){
  .no-mobile{
    display: none;
  }

  footer{
    border: 0;
  }
}
